.settingsButton {
  position: absolute;
  top: 32px;
  right: 32px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  color: var(--tgui--link_color);
}

.tabsWrapper {
  .tabs {
    gap: 4px;

    .tab {
      padding: 1px 2px;
      span {
        font-size: 12px;
      }
    }
  }
}
